Compiled from "Constraints.java"
final class org.apache.hadoop.hbase.constraint.Constraints$1 implements java.util.Comparator<org.apache.hadoop.hbase.constraint.Constraint> {
  org.apache.hadoop.hbase.constraint.Constraints$1();
    Code:
       0: aload_0
       1: invokespecial #2                  // Method java/lang/Object."<init>":()V
       4: return

  public int compare(org.apache.hadoop.hbase.constraint.Constraint, org.apache.hadoop.hbase.constraint.Constraint);
    Code:
       0: aload_1
       1: invokeinterface #3,  1            // InterfaceMethod org/apache/hadoop/hbase/constraint/Constraint.getConf:()Lorg/apache/hadoop/conf/Configuration;
       6: ldc           #4                  // String _PRIORITY
       8: ldc2_w        #5                  // long -1l
      11: invokevirtual #7                  // Method org/apache/hadoop/conf/Configuration.getLong:(Ljava/lang/String;J)J
      14: aload_2
      15: invokeinterface #3,  1            // InterfaceMethod org/apache/hadoop/hbase/constraint/Constraint.getConf:()Lorg/apache/hadoop/conf/Configuration;
      20: ldc           #4                  // String _PRIORITY
      22: ldc2_w        #5                  // long -1l
      25: invokevirtual #7                  // Method org/apache/hadoop/conf/Configuration.getLong:(Ljava/lang/String;J)J
      28: invokestatic  #8                  // Method java/lang/Long.compare:(JJ)I
      31: ireturn

  public int compare(java.lang.Object, java.lang.Object);
    Code:
       0: aload_0
       1: aload_1
       2: checkcast     #9                  // class org/apache/hadoop/hbase/constraint/Constraint
       5: aload_2
       6: checkcast     #9                  // class org/apache/hadoop/hbase/constraint/Constraint
       9: invokevirtual #10                 // Method compare:(Lorg/apache/hadoop/hbase/constraint/Constraint;Lorg/apache/hadoop/hbase/constraint/Constraint;)I
      12: ireturn
}
